@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-color: #f4f4f9;
  --accent: #2d2d2d;
  --secondary-color: #32ff7e;
  --text-color: #2d2d2d;
  --button-bg: #00d9ff;
  --button-hover-bg: #00a3b8;
  --card-bg: #2d2d2d;
}

body {
  color: var(--text-color);
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}
